<h2>Your Bars</h2>
<% if @bars.empty? %>
	<p>Create your bar <a href="/new">here.</a></p>
<% else %>
	<% @bars.each_with_index do |bar,i| %>
		<div class="bar">
			<h3><a href="/show/<%= bar.id %>"><%=bar.name %></a></h3>
			<p>
			<span class="links">
				<a href="/edit/<%= bar.id %>">Edit Bar</a><br />
				<a href="/details/<%= bar.id %>">Add Hours/Cover/Events</a><br />
				<a href="/special/<%= bar.id %>">Add a Drink Special</a><br />
				<a href="/delete/<%= bar.id %>">Delete Bar</a>
			</span>
			</p>
			<p>
			<%= bar.address %><br />
			<%= bar.city %>, <%= bar.state %> <%= bar.zip %><br />
			<%= bar.phone %><br />
			<a href="/show/<%= bar.id %>">View This Bar's Details</a><br />
			</p>
		</div>
		<hr />
	<% end %>
<% end %>