<% if @bars.empty? %>
	<p>Create your bar <a href="/new">here.</a></p>
<% else %>
<div class="results">
	<% @bars.each_with_index do |bar,i| %>
		<div class="bar">
			<p class="noMargin links">
				<a href="/edit/<%= bar.id %>">Edit Bar</a><br />
				<a href="/details/<%= bar.id %>">Edit Hours/Cover</a><br />
				<a href="/special/<%= bar.id %>">Edit Drink Specials</a><br />
				<a href="/events/<%= bar.id %>">Add an Event</a><br />
				<a href="javascript:confirmDelete('/delete/<%= @bar.id %>')">Delete Bar</a>
			</p>
			<h3><a href="/show/<%= bar.id %>"><%=bar.name %></a></h3>
			<p class="noMargin">
			<a href="/show/<%= bar.id %>">View Bar</a>
			</p>
		</div>
	<% end %>
</div>
<% end %>