<h2><%= @bar.name %> Details</h2>

<form action="/addDetails/<%= @bar.id %>" class="infield details" method="post" id="bar">
	
	<h3>Hours</h3>
	<p>Remember to include A.M./P.M.</p>
	<table id="details">
		<tr>
			<th>Day of Week</th><th>Opens At</th><th>Closes At</th><th>Closed</th><th>Cover?</th><th></th>
		</tr>
		<% for weekday in Weekday.all() do %>
		<tr>
			<% for day in Day.all(:bar_id => @bar.id) do %>
				<% if day.day_of_week == weekday.day %>
					<td><%= weekday.day %></td><td><input type="text" name="days[][open]" value="<%= day.open %>" />
				<% end %>
			<% end %>
			<input type="hidden" name="days[][day_of_week]" value="<%= weekday.day %>">	
			<input type="hidden" name="days[][bar_id]" value="<%= @bar.id %>">
			</td>
			<td>
			<% for day in Day.all(:bar_id => @bar.id) do %>
				<% if day.day_of_week == weekday.day %>
					<input type="text" name="days[][close]" value="<%= day.close %>" />
				<% end %>
			<% end %>
			</td>
			<td>
				<input name="days[][closed]" type="checkbox" value="Closed" />
			</td>
			<td>
				<input type="checkbox" name="coverCheck" /></td>
			<td>
			<% for day in Day.all(:bar_id => @bar.id) do %>
				<% if day.day_of_week == weekday.day %>
				<p>
				<label for="cover<%= weekday.day %>">Price</label>
				<input type="text" id="cover<%= weekday.day %>" name="days[][cover]" value="<%= day.cover %>" />
				</p>
				<% end %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	</p>
	<h3>Do you have special events?</h3>
	<p class="event">
	<% for event in Event.all() do %>
	      <input type="checkbox" name="event[][title]" value="<%= event.title %>" /><span class="checkbox"><%= event.title %></span><br />
		  <input type="hidden" name="event[][bar_id]" value="<%= @bar.id %>">
	    <% end %>
	</p>
	<p>
	<input type="submit" class="submit" value="Add Details" />
	</p>
</form>
