<h2><%= @bar.name %> Hours</h2>

<form action="/addDetails/<%= @bar.id %>" class="infield details" method="post" id="bar">
<div class="bg">
	<h3>Hours</h3>
	<p>Remember to include A.M./P.M.<br />
	   Leave Cover blank if no cover.</p>
</div>
	<table id="details">
		<tr>
			<th>Weekday</th><th>Open</th><th>Close</th><th>Closed</th><th>Cover?</th>
		</tr>
		<% @day.each do |weekday, i| %>
		<% day = Day.first(:bar_id => @bar.id, :day_of_week => weekday) %>
		<% if day.nil? %>
			<% day = Day.new() %>
		<% end %>
		<tr>
			<td><%= weekday %>
				<input type="hidden" name="days[][day_of_week]" value="<%= weekday %>">	
				<input type="hidden" name="days[][bar_id]" value="<%= @bar.id %>"></td>
			
			<td class="time"><input type="text" name="days[][open]" class="required" id="<%= weekday %>" value="<%= day.open %>" <% if day.open == 'Closed' %>readonly <% end %> />
			</td>
			
			<td class="time">
				<input type="text" name="days[][close]" class="required" value="<%= day.close %>" <% if day.open == 'Closed' %>readonly <% end %>  />
			</td>
			
			<td>
				<input name="days[][closed]" class="closed box" type="checkbox" <% if day.open == 'Closed' %>checked <% end %> value="Closed" />
			</td>
			<td class="price">
				<p>
				<label for="cover<%= weekday %>">Price</label>
				<span class="dollar">$</span><input type="text" value="<%= day.cover %>" class="cover" id="cover<%= weekday %>" name="days[][cover]" value="" />
				</p>
			</td>
		</tr>
		<% end %>
	</table>
	</p>
	<p>
	<input type="submit" class="submit" value="Add Hours" />
	</p>
</form>
