<h2><%= @bar.name %> Hours</h2>

<form action="/addDetails/<%= @bar.id %>" class="infield details" method="post" id="bar">
	<h3>Hours</h3>
	<p>Remember to include A.M./P.M.</p>
	<table id="details">
		<tr>
			<th>Day of Week</th><th>Opens At</th><th>Closes At</th><th>Closed</th><th>Cover?</th><th></th>
		</tr>
		<% @day.each do |weekday, i| %>
		<% day = Day.first(:bar_id => @bar.id, :day_of_week => weekday) %>
		<% if day.nil? %>
			<% day = Day.new() %>
		<% end %>
		<tr>
			<td><%= weekday %>
				<input type="hidden" name="days[][day_of_week]" value="<%= weekday %>">	
				<input type="hidden" name="days[][bar_id]" value="<%= @bar.id %>"></td>
			
			<td class="time"><input type="text" name="days[][open]" class="required" id="<%= weekday %>" value="<%= day.open %>" <% if day.open == 'Closed' %>readonly <% end %> />
			</td>
			
			<td class="time">
				<input type="text" name="days[][close]" class="required" value="<%= day.close %>" <% if day.open == 'Closed' %>readonly <% end %>  />
			</td>
			
			<td>
				<input name="days[][closed]" class="closed" type="checkbox" <% if day.open == 'Closed' %>checked <% end %> value="Closed" />
			</td>
			<td class="cover">
				<input type="checkbox" class="cover" name="coverCheck" <% if !day.cover.to_s.empty? %>checked<% end %>  /></td>
			<td class="price">
				<% if !day.cover.to_s.empty? %>
				<p>
				<label for="cover<%= weekday %>">Price</label>
				<input type="text" id="cover<%= weekday %>" name="days[][cover]" value="<%= day.cover %>" />
				</p>
				<% else %>
				<p style="display:none;">
				<label for="cover<%= weekday %>">Price</label>
				<input type="text" id="cover<%= weekday %>" name="days[][cover]" value="" />
				</p>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	</p>
	<p>
	<input type="submit" class="submit" value="Add Hours" />
	</p>
</form>
