<h2>Edit <%= @bar.name %></h2>

<form action="/update/<%= @bar.id %>" method="post" id="bar">
		<input type="hidden" name="_method" value="put" />
	<p>
	<label for="name">Bar Name:</label><br />
	<input type="text" name="bar[name]" id="name" value="<%= @bar.name %>" />
	</p>
	<p>
	<label for="description">Description: (Optional)</label><br />
	<textarea name="bar[description]" id="description"><%= @bar.description %></textarea>
	</p>
	<p>
	<label for="address">Address:</label><br />
	<input type="text" name="bar[address]" id="address" value="<%= @bar.address %>" />
	</p>
	<p>
	<label for="city">City:</label><br />
	<input type="text" name="bar[city]" id="city" value="<%= @bar.city %>" />
	</p>
	<p>
	<label for="state">State:</label><br />
	<input type="text" class="state" name="bar[state]" id="state" value="<%= @bar.state %>" />
	</p>
	<p class="zip">
	<label class="zip" for="zip">Zip:</label><br />
	<input type="text" class="zip" name="bar[zip]" id="zip" value="<%= @bar.zip %>" />
	</p>
	<p>
	<label for="phone">Phone:</label><br />
	<input type="text" name="bar[phone]" id="phone" value="<%= @bar.phone %>" />
	</p>
	<p>
	<label for="url">Website: (optional)</label><br />
	<label class="url">http://</label><input type="text" class="url" name="bar[url]" id="url" value="<%= @bar.url %>" />
	</p>
	<p>
	<input type="submit" class="submit" value="Submit" />
	</p>
</form>