<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= @title %></title>
	<link href="../css/styles.css" rel="stylesheet" type="text/css" />
	<link href="../css/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-1.8.5.custom.min.js"></script>
	<script type="text/javascript" src="../js/jquery.infieldlabel.min.js"></script>
	<script type="text/javascript" src="../js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../js/jquery.alerts.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
</head>

<% if authorized? %>
	admin tool bar
<% end %>

<body>
<div id="wrapper">
	<div id="sidebar">
		<div class="topBar">
			<div class="block"></div>
			<a class="header" href="/"><h1 class="header">Drinkr</h1><h3 class="header">Share your bar with the world.</h3></a>
		</div>
			<%= erb(:search, :layout => false) %>
	</div>

	<div id="main">	
	<div class="topBar"><div class="block"></div>
	<ul><li><a href="/">Home</a></li><li><a href="/about">About Drinkr</a></li><li><a href="/faq">FAQs</a></li><li class="last"><a href="/contact">Contact</a></li></ul>
	</div>
	<%= show_flash %>
		<%= yield %>
	</div>
	
	<div id="right">
		<div class="topBar">	
		<div class="block"></div>
		
		<% if !logged_in? %>
				<ul><li class="last"><a href="/">Login</a></li></ul>
			</div>
			<% if !@today %>
				<%= erb(:login, :layout => false) %>
			<% else %>
				<%= erb(:specials, :layout => false) %>
			<% end %>
		<% else %>
			<ul><li><a href="/account/<%= session[:user] %>">My Account</a></li><li><a href="/bar">My Bars</a></li><li class="last"><a href="/logout">Log out</a></li></ul>
		</div>
			<% if !@today %>
				<%= erb(:subNav, :layout => false) %>
			<% else %>
				<%= erb(:specials, :layout => false) %>
			<% end %>
		<% end %>
	</div>

	<div id="footer">
		
	</div>
</div>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17553613-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
