<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= @title %></title>
	<link href="../css/styles.css" rel="stylesheet" type="text/css" />
	<link href="../css/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-1.8.5.custom.min.js"></script>
	<script type="text/javascript" src="../js/jquery.infieldlabel.min.js"></script>
	<script type="text/javascript" src="../js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../js/jquery.alerts.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
</head>

<% if authorized? %>
	admin tool bar
<% end %>

<body>
<div id="wrapper">
	<div id="sidebar">
		<div class="topBar">
			<div class="block"></div>
			<a href="/"><h1 class="header">Drinkr</h1><h3 class="header">Share your bar with the world.</h3></a>
		</div>
			<%= erb(:search, :layout => false) %>
	</div>

	<div id="main">	
	<div class="topBar"><div class="block"></div>
	<ul><li><a href="/">Home</a></li><li><a href="/about">About Drinkr</a></li><li><a href="/faq">FAQs</a></li><li class="last"><a href="/contact">Contact</a></li></ul>
	</div>
		<%= yield %>
	</div>
	
	<div id="right">
		<div class="topBar">	
		<div class="block"></div>
		
		<% if !logged_in? %>
				<ul><li class="last"><a href="/">Login</a></li></ul>
			</div>
			<%= erb(:login, :layout => false) %>
		<% else %>
			<ul><li><a href="/account/<%= session[:user] %>">My Account</a></li><li><a href="/bar">My Bars</a></li><li class="last"><a href="/logout">Log out</a></li></ul>
		</div>
			<%= erb(:subNav, :layout => false) %>
		<% end %>
	</div>

	<div id="footer">
	</div>
</div>
</body>
</html>
