<p class="today"><b><%= @today %> Specials</b></p>
<div class="searchBar">
	<% if !@beer.empty? %>
		<p><b>Beer</b></p>
		<% @beer.each do |special| %>
				<% bar = Bar.first(:id => special.bar_id)%>
				<div class="special">
					$<%= special.price %> <%= special.drink_name %><br />
					&#64;<a href="/show/<%= special.bar_id %>"><%= bar.name %></a><br />
				</div>
		<% end %>
	<% end %>
	<% if !@pitcher.empty? %>
		<p><b>Pitchers</b></p>
		<% @pitcher.each do |special| %>
				<% bar = Bar.first(:id => special.bar_id)%>
				<div class="special">
					$<%= special.price %> <%= special.drink_name %><br />
					&#64;<a href="/show/<%= special.bar_id %>"><%= bar.name %></a><br />
				</div>
		<% end %>
	<% end %>
	<% if !@mixed.empty? %>
		<p><b>Mixed Drinks</b></p>
		<% @mixed.each do |special| %>
				<% bar = Bar.first(:id => special.bar_id)%>
				<div class="special">
					$<%= special.price %> <%= special.drink_name %><br />
					&#64;<a href="/show/<%= special.bar_id %>"><%= bar.name %></a><br />
				</div>
		<% end %>
	<% end %>
	<% if !@shot.empty? %>
		<p><b>Shots</b></p>
		<% @shot.each do |special| %>
				<% bar = Bar.first(:id => special.bar_id)%>
				<div class="special">
					$<%= special.price %> <%= special.drink_name %><br />
					&#64;<a href="/show/<%= special.bar_id %>"><%= bar.name %></a><br />
				</div>
		<% end %>
	<% end %>
	<% if !@wine.empty? %>
		<p><b>Wine</b></p>
		<% @wine.each do |special| %>
				<% bar = Bar.first(:id => special.bar_id)%>
				<div class="special">
					$<%= special.price %> <%= special.drink_name %><br />
					&#64;<a href="/show/<%= special.bar_id %>"><%= bar.name %></a><br />
				</div>
		<% end %>
	<% end %>
</div>

<div class="results">
<% if !@bars.empty? %>
	<% @bars.each do |bar| %>
	<div class="bar">
		<h3><a href="/show/<%= bar[:bar].id %>"><%= bar[:bar].name %></a></h3>
		<h2 class="distance"><%= sprintf("%.1f", bar[:distance]) %> MI</h2>
		<p>
		<%= bar[:bar].address %><br />
		<%= bar[:bar].city %>, <%= bar[:bar].state %> <%= bar[:bar].zip %><br />
		<%= bar[:bar].phone %><br />
		<a href="/show/<%= bar[:bar].id %>">View This Bar's Details</a><br />
		</p>
	</div>
	<% end %>
<% else %>
	<p>There are no bars currently registered around that area. Spread the word to you favorite bars next time you are out.</p>
<% end %>
</div>