<div class="results">
<% if !@bars.empty? %>
	<% @bars.each do |bar| %>
	<div class="bar">
		<h3><a href="/show/<%= bar[:bar].id %>"><%= bar[:bar].name %></a></h3>
		<h2 class="distance"><%= sprintf("%.1f", bar[:distance]) %> MI</h2>
		<p>
		<%= bar[:bar].address %><br />
		<%= bar[:bar].city %>, <%= bar[:bar].state %> <%= bar[:bar].zip %><br />
		<%= bar[:bar].phone %><br />
		<a href="/show/<%= bar[:bar].id %>">View This Bar's Details</a><br />
		</p>
	</div>
	<% end %>
<% else %>
	<p>There are no bars currently registered around that area. Spread the word to you favorite bars next time you are out.</p>
	<p>Search must contain either a <b>City</b> or <b>Zip Code</b>.</p>
<% end %>
</div>