<h2>Create a Bar</h2>
<p>This information is specific to this bar and will be displayed to everyone.</p>

<form action="/new" class="valid" method="post" id="bar">
	<p>
	<label for="name">Bar Name:</label><br />
	<input type="text" name="bar[name]" class="required" id="name" value="<%= @bar.name %>" />
	<input type="hidden" name="bar[person_id]" id="name" value="<%= session[:user] %>" />
	</p>
	<p>
	<label for="description">Description: (Optional)</label><br />
	<textarea name="bar[description]" id="description"><%= @bar.description %></textarea>
	</p>
	<p>
	<p>
	<label for="address">Address:</label><br />
	<input type="text" name="bar[address]" class="required" value="<%= @bar.address %>" id="address" />
	</p>
	<p>
	<label for="city">City:</label><br />
	<input type="text" name="bar[city]" class="required" id="city" value="<%= @bar.city %>" />
	</p>
	<p>
	<label for="state">State:</label><br />
	<input type="text" name="bar[state]" class="required" id="state" value="<%= @bar.state %>" />
	</p>
	<p>
	<label for="zip">Zip:</label><br />
	<input type="text" name="bar[zip]" class="required" id="zip" value="<%= @bar.zip %>" />
	</p>
	<p>
	<label for="phone">Phone:</label><br />
	<input type="text" name="bar[phone]" class="required" id="phone" value="<%= @bar.phone %>" />
	</p>
	<p>
	<label for="url">Website: (optional)</label><br />
	<label class="url">http://</label><input type="text" class="url" name="bar[url]" id="url" value="<%= @bar.url %>" />
	</p>
	<p>
	<input type="submit" class="submit" value="Submit" />
	</p>
</form>