<h3><%= @bar.name %></h3>
<p class="noMargin info left">
	<%= @bar.address %><br />
	<%= @bar.city %>, <%= @bar.state %> <%= @bar.zip %><br />
	<%= @bar.phone %><br />
	<% if @bar.url %>
		Website: <a href="http://<%= @bar.url %>"><%= @bar.name %></a>
	<% end %>
</p>
	<p class="description noMargin">
	<%= @bar.description %>
	</p>

	<% if @days.empty? %>
	<p class="noMargin clear">
		<br />
		<b>Hours of Operation:</b><br />
		This bar has yet to make their hours available.<br />
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/details/<%= @bar.id %>">Add Hours</a>
		<% end %>
	</p>
	<% else %>
	<table class="hours" width="530px" cellspacing="0" cellpadding="3">
		<tr>
			<th>Day of Week</th><th>Hours</th><th>Specials</th><th>Cover</th>
		</tr>
		<% @days.each_with_index do |day,i| %>
		<tr>
			<td><%= day.day_of_week %></td>
			<td><% if day.open == 'Closed' %>Closed<% else %> <%=day.open %> - <%=day.close %><% end %></td>
			<td><% @specials.each do |special| %>
					<% if special.day_of_week == day.day_of_week %>
						<%= special.type %> - <%=special.drink_name %> $<%=special.price %><br />
					<% end %>
				<% end %></td>
			<td><% if !day.cover.to_s.empty? %><b>Cover: $<%=day.cover %></b><% end %> </td>
		</tr>
		<% end %>
		</table>
	<% end %>
	
	<% if @specials.empty? %>
	<p>
		<b>Drink Specials:</b><br />
		This bar has yet to make their drink specials available.<br />
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/special/<%= @bar.id %>">Add Specials</a>
		<% end %>
	</p>
	<% else %>
		<% if @days.empty? %>
		<p><b>Drink Specials:</b><br /></p>
		<% @day.each do |weekday| %>
				<ul class='specials'>
			<% @specials.each do |drink| %>
				<% if weekday == drink.day_of_week %>
					<li><b><%= drink.day_of_week %></b> <%= drink.type %> - $<%= drink.price %> <%= drink.drink_name %></li>
				<% end %>
			<% end %>
				</ul>
		<% end %>
		<% end %>
	<% end %>

