<p class="links">
<span class="links">
<% if logged_in? %>
	<% if Bar.authenticate(@bar.id, session[:user]) %>
		<a href="/edit/<%= @bar.id %>">Edit Bar</a><br />
		<a href="/delete/<%= @bar.id %>">Delete Bar</a><br />
	<% end %>
<% end %>
</span>
</p>
<h3><%= @bar.name %></h3>
<p class="noMargin">
	<%= @bar.address %><br />
	<%= @bar.city %>, <%= @bar.state %> <%= @bar.zip %><br />
	<%= @bar.phone %><br />
	<% if @bar.url %>
		Website: <a href="http://<%= @bar.url %>"><%= @bar.name %></a><br /><br />
	<% else %>
		<br />
	<% end %>
	
	<%= @bar.description %>
</p>
<p>
	<b>Hours of Operation:</b><br />
	<% if @days.nil? %>
		This bar has yet to make their hours available.<br />
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/details/<%= @bar.id %>">Add Hours</a>
		<% end %>
	<% else %>
		<% @days.each_with_index do |day,i| %>
			<%=day.day_of_week %> <%=day.open %> - <%=day.close %> <% if !day.cover.empty? %><b>Cover: <%=day.cover %></b><% end %><br />
		<% end %>
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/details/<%= @bar.id %>">Edit Hours</a>
		<% end %>
	<% end %>
</p>
<p>
	<b>Daily Drink Specials:</b><br />
	<% if @specials.nil? %>
		This bar has yet to make their drink specials available.<br />
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/special/<%= @bar.id %>">Add a Special</a>
		<% end %>
	<% else %>
		<% @specials.each do |special| %>
			<%=special.day_of_week %> <%=special.drink_name %> $<%=special.price %> <br />
		<% end %>
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/special/<%= @bar.id %>">Edit/Add a Special</a>
		<% end %>
	<% end %>
</p>

<p>Last Updated on <%= @bar.updated_at.strftime("%B %d, %Y") %></p>

