<div class="bg">
<h3><%= @bar.name %></h3>
<p class="noMargin">
	<%= @bar.address %><br />
	<%= @bar.city %>, <%= @bar.state %> <%= @bar.zip %><br />
	<%= @bar.phone %><br />
	<a href="http://maps.google.com/?q=loc:<%= @bar.address %>, <%= @bar.city %> <%= @bar.zip %>">Directions</a><br />
	<% if !@bar.url.empty? %>
		Website: <a href="<%= @bar.url %>"><%= @bar.name %></a>
	<% end %>
</p>
	<p>
	<%= @bar.description %>
	</p>
</div>

	<% if @days.empty? %>
	<p>
		<br />
		<b>Hours of Operation:</b><br />
		This bar has yet to make their hours available.<br />
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/details/<%= @bar.id %>">Add Hours</a>
		<% end %>
	</p>
	<% else %>
	<table class="hours" width="310" cellspacing="0" cellpadding="5">
		<tr>
			<th>Day of Week</th><th>Hours</th><% if !@specials.empty? %><th>Specials</th><% end %><th>Cover</th>
		</tr>
		<% @days.each_with_index do |day,i| %>
		<tr>
			<td><%= day.day_of_week %></td>
			<td><% if day.open == 'Closed' %>Closed<% else %> <%=day.open %> - <%=day.close %><% end %></td>
			<% if !@specials.empty? %>
			<td><% @specials.each do |special| %>
					<% if special.day_of_week == day.day_of_week %>
						<%= special.type %> - $<%=special.price %> <%=special.drink_name %> <br />
					<% end %>
				<% end %></td>
			<% end %>
			<td><% if !day.cover.to_s.empty? %><b>$<%=day.cover %></b><% end %> </td>
		</tr>
		<% end %>
		</table>
	<% end %>
	
	<% if @specials.empty? %>
	<p>
		<b>Drink Specials:</b><br />
		This bar has yet to make their drink specials available.<br />
		<% if Bar.authenticate(@bar.id, session[:user]) %>
			<a href="/special/<%= @bar.id %>">Add Specials</a>
		<% end %>
	</p>
	<% else %>
		<% if @days.empty? %>
		<h3 class="margin">Drink Specials</h3>
		<% @day.each do |weekday| %>
		<span class="day"><%= weekday %></span>
				<ul class='specials'>
			<% @specials.each do |drink| %>
				<% if weekday == drink.day_of_week %>
					<li><%= drink.type %> - $<%= drink.price %> <%= drink.drink_name %></li>
				<% end %>
			<% end %>
				</ul>
		<% end %>
		<% end %>
	<% end %>

