<h2><%= @bar.name %> Drink Specials</h2>

<form action="/addSpecial/<%= @bar.id %>" class="valid special" method="post" id="bar">
<table>
	<tr>
	<td class="right">
	<label>Weekday:</label>
	</td>
	<td>
		<select class="specialmenu" name="special[][day_of_week]">
			<% @day.each do |weekday| %>
				<option value="<%= weekday %>"><%= weekday %></option>
			<% end %>
		</select>
	</td>
	</tr>
	<tr>
	<td class="right">
	<label>Drink Type:</label>
	</td>
	<td>
	<select class="specialmenu" name="special[][type]">
		<option value="Beer">Beer</option>
		<option value="Pitcher">Pitcher</option>
		<option value="Mixed">Mixed Drink</option>
		<option value="Shot">Shot</option>
		<option value="Wine">Wine</option>
	</select>
	</td>
	</tr>
	<tr>
	<td class="right">
	<label for="drink_name">Drink Name:</label>
	</td>
	<td>
	<input type="text" class="drink" class="required" name="special[][drink_name]" />
	<input type="hidden" name="special[][bar_id]" value="<%= @bar.id %>">
	</td>
	</tr>
	<tr>
	<td class="right">
	<label for="price">Price: $ </label>
	</td>
	<td>
	<input type="text" class="required" name="special[][price]" />
	</td>
	</tr>
	</table>
	<p>
	<input type="submit" class="submit" value="Add Special" />
	</p>
</form>

<h3 class="margin">Current Specials</h3>
<% special = Special.all(:bar_id => @bar.id) %>

<% if special.empty? %>
<p>You don't currently have any drink specials posted.</p>
<% else %>
	<% @day.each do |weekday| %>
			<ul class='specials'>
		<span class="day"><%= weekday %></span>
		<% special.each do |drink| %>
			<% if weekday == drink.day_of_week %>
				<li><%= drink.type %> - $<%= drink.price %> <%= drink.drink_name %> <a href="/deleteSpecial/<%= drink.id %>">Delete</a></li>
			<% end %>
		<% end %>
		<% if Special.all(:day_of_week => weekday, :bar_id => @bar.id).empty? %>
			<li>No drinks specials currently on <b><%= weekday %></b></li>
		<% end %>
			</ul>
	<% end %>
<% end %>